section#wrapper{
	box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
	height:450px;
	margin: 0 auto;
	margin-top: 91px;
	position: relative;
	width:900px;
		-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
div.slider{
	height:450px;
	overflow: hidden;
	position: absolute;	
	width:100%;
}
    /* navegacion mas sencilla :D
    #left, #right{
		cursor: pointer;
		height: 60px;
		margin-top: 180px;
		opacity:0.3;
		padding: 5px;
		width: 58px;
		z-index: 99;
    	position: absolute;
	}
	#left{
		background:url('img/left1.png');
		background-size: 100% 100%;
		left: 0;
	}
	#right{
		background:url('img/right1.png');
		background-size: 100% 100%;
		right: 0;
	}
	div#contenido:hover #left, div#contenido:hover #right{
		opacity: 1;
	}*/

/* navegacion ribbon*/
/* Left*/
.ribbon-left {
	/*background-color: #ccf;*/
	/*background-image: url('img/left1.png');*/
	background-image: url('../img/arrow_left_2.png');
	background-size: 100% 100%;
	border-radius: 0 10px 10px 0;
	box-shadow: 4px 3px 6px rgba(0,0,0,0.5);
	cursor: pointer;
	height: 80px;
	left:-20px;
	opacity: 0.4;
	position: absolute;
	top:200px;
	width: 80px;
	z-index: 40;
}

.ribbon-edge-bottomleft {
	border-color: transparent rgba(0,0,0,0.7) transparent transparent;
	border-style:solid;
	border-width: 0 20px 10px 0;
	height:0px;
	left: 0px;
	opacity: 0.4;
	position: absolute;
	top: 80px;
	width:0px;
	z-index: 1;
} 

/*right ribbon*/
.ribbon-rigth {
	/*background-color: #ccf;*/
	/*background-image: url('img/right1.png');*/
	background-image: url('../img/arrow_right_2.png');
	background-size: 100% 100%;
	border-radius: 10px 0 0 10px;
	box-shadow: -4px 3px 6px rgba(0,0,0,0.5);
	cursor: pointer;
	height: 80px;
	opacity: 0.4;
	position: absolute;
	right:-20px;
	top:200px;
	width: 80px;
	z-index: 40;
}



.ribbon-edge-bottomright {
	border-color: transparent transparent transparent rgba(0,0,0,0.7);
	border-style:solid;
	border-width: 0 0 10px 20px;
	height:0px;
	opacity: 0.4;
	position: absolute;
	right: 0px;
	top: 80px;
	width:0px;
	z-index: 1;
}

section#wrapper:hover .ribbon-edge-bottomright, section#wrapper:hover .ribbon-rigth,
section#wrapper:hover .ribbon-edge-bottomleft, section#wrapper:hover .ribbon-left{
opacity: 1;
}

/*fin del ribbon*/
div.slider ul{
	height: 100%;
	list-style: none;
	margin-bottom:0px;
	margin-top: 0px;
	padding:0px;
	position: relative;
	width: 100%;
}
div.slider ul li{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
div.slider ul li img{
	height: 100%;
	width: 100%;
}
div.slider ul li .descripcionImg{
	position: absolute;
	z-index: 4;
	bottom: 0px;
	left: 0px;
	
}
div.slider ul li .descripcionImg h1{
	padding: 10px;
	color: white;
	background: #222;
	width: 150px;
}
div.slider ul li .descripcionImg p{
	margin-top:-10px;
	padding: 5px;
	color: #222;
	background: white;
}